.Wrapper__StartPage {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/fon.jpg);
    background-size: cover;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;

}

.StartPage__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.StartPage__content_title {
    display:flex;
    align-items: center;
    margin-top: 1rem;
   // border: 1px solid rgb(87, 7, 107);
    background-image: url(../../assets/img/Sun.png);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 400px;
    height: 400px;
    font-size: 1.8rem;
    color:rgb(0, 0, 0);
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    border-radius: 2rem;
    line-height: 2.5rem;
    padding: 100px 100px;
}

.StartPage__content_words {
    font-family: "Courier New", Courier, monospace;
    background-image: url(../../assets/svg/cloud.svg);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 415px;
    height: 343px;
    color: aliceblue;
    padding: 98px 122px 100px 47px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.StartPage__content_words_games{
    font-family: "Courier New", Courier, monospace;
    background-image: url(../../assets/svg/cloud.svg);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 318px;
    height: 252px;
    color: aliceblue;
    padding: 80px 96px 104px 45px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
margin-left: 265px;
    margin-top: -50px;

}
.StartPage__content_words_free {
    font-family: "Courier New", Courier, monospace;
    background-image: url(../../assets/svg/cloud.svg);
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 389px;
    height: 281px;
    color: aliceblue;
    padding: 88px 122px 100px 47px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
margin-left: 55px;
    
}
.StartPage__content_Box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}
.Team_box_wrapper {
width: 100%;
margin-top: 70px;
font-size: 21px;
}
.Team_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
width: 100%;
margin-top: 20px;
}

.Team_box_author {
    width: 20%;
    height: 300px;
background-color: rgba(233, 231, 125, 0.568);
border-radius: 1rem;
text-align: center;
font-size: 21px;
}

.Team_box_author_city {
    font-weight: 600;
font-size: 18px;
line-height: 1.3rem;

}
.Team_box_title {
    margin-left:30px;
}

.Team_box_author_photo_Box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Team_box_author_photo {
    background-image: url(../../assets/img/team/ivan.jpg);
    width: 150px;
    height: 150px;
    background-size:contain;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}