@import './.././../styles/variables';
.text-book {
  &.b1{
    background: url("../../assets/img/textBook_bg/b1.jpg") no-repeat fixed center #ffffff;
  }
  &.b2{
    background: url("../../assets/img/textBook_bg/b2.png") no-repeat fixed center #ffffff;
  }
  &.b3{
    background: url("../../assets/img/textBook_bg/b3.png") no-repeat fixed center #ffffff;
  }
  &.b4{
    background: url("../../assets/img/textBook_bg/b4.png") no-repeat fixed center #ffffff;
  }
  &.b5{
    background: url("../../assets/img/textBook_bg/b5.png") no-repeat fixed center #ffffff;
  }
  &.b6{
    background: url("../../assets/img/textBook_bg/b6.png") repeat fixed center #ffffff;
  }
  &.b1,&.b2,&.b3,&.b4,&.b5,&.b6{
    background-size: cover;
  }
  min-height: 100vh;
  &__no-words{
    color: #fff;
    font-size: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
  .button-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 25px 0 0 0;
    button{
      border: none;
      background-color: #2d2d2d;
    }
  }
  &__pagination {
    padding: 20px 0;

    ul {
      margin: 0;
    }

    .ant-pagination {
      font-size: 20px;
      padding: 0 20px;

      &-item-active{
        font-weight: 900;
      }
      &-next button, &-prev button, &-item{
        border: none;
        background-color: rgba(0,0,0,.5);
        a:hover{
          color: #c3c3c3;
        }
      }
      &-item-ellipsis span:hover{
        color: #c3c3c3!important;
      }


      a, span {
        color: #fff;
      }
    }
  }
}
