@import './.././../styles/variables';

.text-book {
  &__no-words{
    padding: 30px;
    display: flex;
    justify-content: space-around;
  }
  .button-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 25px 0 0 0;
    button{
      background-color: $primary-4;
    }
  }
  &__pagination {
    padding: 20px 0;

    ul {
      margin: 0;
    }

    .ant-pagination {
      font-size: 20px;
      max-width: 400px;
      margin: auto;

      &-item {
        border: none;

        &-link {
          border: none !important;
          color: red;
        }
      }

      a, span {
        color: #3b0072 !important;
      }
    }
  }
}
