@import '../../styles/variables';
.header {
  display: flex;
  //  position: fixed;
  left: 0;
  right: 0;
  z-index: 30;
  align-items: center;
  height: 10vh;
  min-height: 60px;
  background-color: #ffffff;
  color: #fff;
  padding: 0 20px;

  & .wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 420px) {
      flex-direction: column;
    }
  }
}
