.welcomeForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
}

.welcomeForm__form {
    width: 20%;
}

.ant-typography .welcomeForm-howToPlay {
    width: 80%;
}