.letterSolver {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__view-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 60%;
    }
}